:root {
  --gradient-from: #ed4880;
  --gradient-to: #f38b17;
  --color-header: #fff;
  --color-term: #1a1921;
  --color-details: #4e4e4e;
  --body-background: #fbf7ee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-term: #fff;
    --color-details: #d2d2d2;
    --body-background: #1f2937;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  text-align: center;
  background-color: var(--body-background);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.header {
  background: linear-gradient(
    246.26deg,
    var(--gradient-from) 0%,
    var(--gradient-to) 100%
  );
  color: var(--color-header);
  padding: 3.3125rem 1rem;
}

.title {
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 2.375rem;
}

.input {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
  margin-top: 2rem;
  background-color: inherit;
  color: inherit;
  text-align: center;
  max-width: 20rem;
  border-radius: 0.5rem;
  border: 3px solid transparent;
  transition: all ease-in-out 200ms;
  padding: 0 0.75rem;
  -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input:focus,
.input:active,
.input:hover {
  outline: none;
  border: 3px solid var(--gradient-to);
}

.main {
  padding: 0 1rem;
}

.terms {
  margin: 2rem auto;
  line-height: 1.25rem;
}

.term {
  color: var(--color-term);
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 1.6875rem;
}

.details {
  color: var(--color-details);
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.3215rem;
}
